/* O p e n   S a u c e */

/* light */

@font-face {
  font-family: "Open Sauce";
  src: url("./opensaucesans-light-webfont.woff2"),
    url("./opensaucesans-light-webfont.woff"),
    url("./opensaucesans-light-webfont.eot"),
    url("./opensaucesans-light-webfont.eot?#iefix") format("embedded-opentype"),
    url("./opensaucesans-light-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Open Sauce";
  src: url("./opensaucesans-lightitalic-webfont.woff2"),
    url("./opensaucesans-lightitalic-webfont.woff"),
    url("./opensaucesans-lightitalic-webfont.eot"),
    url("./opensaucesans-lightitalic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./opensaucesans-lightitalic-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: block;
}

/* reg */

@font-face {
  font-family: "Open Sauce";
  src: url("./opensaucesans-regular-webfont.woff2"),
    url("./opensaucesans-regular-webfont.woff"),
    url("./opensaucesans-regular-webfont.eot"),
    url("./opensaucesans-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./opensaucesans-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Open Sauce";
  src: url("./opensaucesans-italic-webfont.woff2"),
    url("./opensaucesans-italic-webfont.woff"),
    url("./opensaucesans-italic-webfont.eot"),
    url("./opensaucesans-italic-webfont.eot?#iefix") format("embedded-opentype"),
    url("./opensaucesans-italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

/* medium */

@font-face {
  font-family: "Open Sauce";
  src: url("./opensaucesans-medium-webfont.woff2"),
    url("./opensaucesans-medium-webfont.woff"),
    url("./opensaucesans-medium-webfont.eot"),
    url("./opensaucesans-medium-webfont.eot?#iefix") format("embedded-opentype"),
    url("./opensaucesans-medium-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Open Sauce";
  src: url("./opensaucesans-mediumitalic-webfont.woff2"),
    url("./opensaucesans-mediumitalic-webfont.woff"),
    url("./opensaucesans-mediumitalic-webfont.eot"),
    url("./opensaucesans-mediumitalic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./opensaucesans-mediumitalic-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: block;
}

/* O l d   S t a n d a r d   T T */

@font-face {
  font-family: "Old Standard TT";
  src: url("./oldstandardtt-regular-webfont.woff2"),
    url("./oldstandardtt-regular-webfont.woff"),
    url("./oldstandardtt-regular-webfont.eot"),
    url("./oldstandardtt-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./oldstandardtt-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Old Standard TT";
  src: url("./oldstandardtt-italic-webfont.woff2"),
    url("./oldstandardtt-italic-webfont.woff")
      url("./oldstandardtt-italic-webfont.eot"),
    url("./oldstandardtt-italic-webfont.eot?#iefix") format("embedded-opentype"),
    url("./oldstandardtt-italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: block;
}
