/* epilogue-300 - latin */
@font-face {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("epilogue-v12-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("epilogue-v12-latin-300.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* epilogue-regular - latin */
@font-face {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("epilogue-v12-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("epilogue-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* epilogue-500 - latin */
@font-face {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("epilogue-v12-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("epilogue-v12-latin-500.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* epilogue-600 - latin */
@font-face {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("epilogue-v12-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("epilogue-v12-latin-600.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* epilogue-300italic - latin */
@font-face {
  font-family: "Epilogue";
  font-style: italic;
  font-weight: 300;
  src: local(""), url("epilogue-v12-latin-300italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("epilogue-v12-latin-300italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* epilogue-italic - latin */
@font-face {
  font-family: "Epilogue";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("epilogue-v12-latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("epilogue-v12-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* epilogue-500italic - latin */
@font-face {
  font-family: "Epilogue";
  font-style: italic;
  font-weight: 500;
  src: local(""), url("epilogue-v12-latin-500italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("epilogue-v12-latin-500italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* epilogue-600italic - latin */
@font-face {
  font-family: "Epilogue";
  font-style: italic;
  font-weight: 600;
  src: local(""), url("epilogue-v12-latin-600italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("epilogue-v12-latin-600italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* syne-regular - latin */
@font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("syne-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("syne-v14-latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* syne-500 - latin */
@font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("syne-v14-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("syne-v14-latin-500.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* syne-600 - latin */
@font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("syne-v14-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("syne-v14-latin-600.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* syne-700 - latin */
@font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("syne-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("syne-v14-latin-700.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* syne-800 - latin */
@font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("syne-v14-latin-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("syne-v14-latin-800.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
